:root{
  --primary-color: rgb(255, 191, 0);
}

.App {
  text-align: center;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--primary-color);
  font-weight: 600;
  border: 2px solid var(--primary-color);
  margin-top: 0.5rem;
  background-color: transparent;
}

a {
  text-decoration: none;
}